---
layout: home
---

<div class="home">
  <div class="post-list">
    {% for post in site.posts %}
      <div class="post-card">
        <div class="image-wrapper">
          <div class="overlay"></div>
          <div class="title">{{ post.title }}</div>
          <img src="{{ site.image_path }}/{{ post.image_folder }}/thumb.jpg">
        </div>
        {% if post.status == "scheduled" %}
          <div class="date">Coming soon&hellip;</div>
        {% else %}
          <div class="date">{{ post.date | date: "%B %Y" }}</div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>
