.post-card {
	@include span-columns(12);
	@include media($med-up) {
		@include span-columns(6);
		&:nth-child(even) { @include omega; }
		border: 1px solid $grey-color-light;
		overflow: hidden;

		&:hover {
			box-shadow: 0 0 15px rgba(0,0,0,0.1);

			.title { text-decoration: underline; }

			.overlay {
				opacity: 1;
			}
		}
	}
	margin-bottom: 2em;
	cursor: pointer;

	a { text-decoration: none; }

	.image-wrapper {
		@include media($med-up) {
			max-height: 350px;
			overflow: hidden;
		}
		position: relative;
	}

	.overlay {
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background:rgba(0,0,0,.25);
        opacity:0;
        -webkit-transition: opacity .25s ease;
		-moz-transition: opacity .25s ease;
	}

	.title {
		color: white;
		font-family: $header-font-family;
		font-size: $h2-font-size;		
		position: absolute;
		bottom: 0.2em;
		right: 0.75em;
	}

	.date {
		color: $text-color;
		padding: 1em;
	}
}