.post {
	.title {
		@include media($med-up) {
		    text-align: left;
		}
		font-family: $header-font-family;
		font-size: $h2-font-size;
		text-align: center;
		margin: 0 0 0.75em 0;
	}

	.menu {
		@include span-columns(12);
		@include media($med-up) {
			@include span-columns(6);
			padding-left: 1.5em;
			border-left: 1px solid $grey-color-light;
			//text-align: right;
		}
		text-align: center;

		.header { 
			text-transform: uppercase;
			padding-bottom: 0.5em;
		}
	}

	.menu-items {
		padding: 1em 0;
	}

	.photos {
		@include span-columns(12);
		@include media ($med-up) {
			@include span-columns(6);
			margin-bottom: 0;
		}
		margin-bottom: 2em;
	}

	.photo {
		@include span-columns(12 of 12);
		@include media ($med-up) {
			@include span-columns(3 of 6);
			max-height: 149px;
			overflow: hidden;
		}
		margin-bottom: 1.25em;

		&:nth-child(even) { @include omega; }
	}
}